# Compilation folder
build/

# CRY compiled files
external/cry_v1.7/lib/libCRY.a
external/cry_v1.7/src/*.o
external/cry_v1.7/test/testMain


*~

# Linux possible temporary files
.fuse_hidden*
.directory
.Trash-*
.nfs*

# mac temporary files

.DS_Store
.vscode

# analysis files 
analysis/data